#calc-grid {
    display: inline-grid;
}

    #calc-grid > * {
        width: 100%;
        /*width: 50px;*/
    }

#calc-one {
    grid-column: 1;
    grid-row: 1;
}

#calc-two {
    grid-column: 2;
    grid-row: 1;
}

#calc-three {
    grid-column: 3;
    grid-row: 1;
}

#calc-four {
    grid-column: 1;
    grid-row: 2;
}

#calc-five {
    grid-column: 2;
    grid-row: 2;
}

#calc-six {
    grid-column: 3;
    grid-row: 2;
}

#calc-seven {
    grid-area: seven;
    grid-column: 1;
    grid-row: 3;
}

#calc-eight {
    grid-column: 2;
    grid-row: 3;
}

#calc-nine {
    grid-column: 3;
    grid-row: 3;
}

#calc-zero {
    grid-area: zero;
    grid-column: 2;
    grid-row: 4;
}

#calc-addition {
    grid-column: 4;
    grid-row: 2;
}

#calc-subtraction {
    grid-column: 5;
    grid-row: 2;
}

#calc-multiplication {
    grid-column: 4;
    grid-row: 1;
}

#calc-division {
    grid-column: 5;
    grid-row: 1;
}

#calc-dot {
    grid-column: 1;
    grid-row: 4;
}

#calc-equality {
    grid-column: 3;
    grid-row: 4;
}

#calc-clear {
    grid-column: 4/6;
    grid-row: 3/5;
}
