<div id="calc-grid">
    <CalculatorButtonComponent Id="one" />
    <CalculatorButtonComponent Id="two"/>
    <CalculatorButtonComponent Id="three" />
    <CalculatorButtonComponent Id="multiplication" />
    <CalculatorButtonComponent Id="four" />
    <CalculatorButtonComponent Id="five" />
    <CalculatorButtonComponent Id="six" />
    <CalculatorButtonComponent Id="division" />
    <CalculatorButtonComponent Id="seven" />
    <CalculatorButtonComponent Id="eight"/>
    <CalculatorButtonComponent Id="nine" />
    <CalculatorButtonComponent Id="subtraction" />
    <CalculatorButtonComponent Id="dot" />
    <CalculatorButtonComponent Id="zero" />
    <CalculatorButtonComponent Id="equality" />
    <CalculatorButtonComponent Id="addition" />
</div>

@code {

}
