@inject IJSRuntime JSRuntime;

<div id="calc-grid">

    <CalculatorButtonComponent ButtonName="zero" />
    <CalculatorButtonComponent ButtonName="one"/>
    <CalculatorButtonComponent ButtonName="two" />
    <CalculatorButtonComponent ButtonName="three" />
    <CalculatorButtonComponent ButtonName="four" />
    <CalculatorButtonComponent ButtonName="five" />
    <CalculatorButtonComponent ButtonName="six" />
    <CalculatorButtonComponent ButtonName="seven" />
    <CalculatorButtonComponent ButtonName="eight" />
    <CalculatorButtonComponent ButtonName="nine" />
    <CalculatorButtonComponent ButtonName="addition" />
    <CalculatorButtonComponent ButtonName="subtraction" />
    <CalculatorButtonComponent ButtonName="multiplication" />
    <CalculatorButtonComponent ButtonName="division" />
    <CalculatorButtonComponent ButtonName="equality" />
    <CalculatorButtonComponent ButtonName="dot" />
    <CalculatorButtonComponent ButtonName="clear" />

</div>

@code {

    private async Task<double> AdditionAsync(double x, double y)
        => await Task.Run(() => x + y);

    private async Task<double> SubtractionAsync(double x, double y)
        => await Task.Run(() => x - y);

    private async Task<double> MultiplicationAsync(double x, double y)
        => await Task.Run(() => x * y);

    private async Task<double> DivisionAsync(double x, double y)
        => await Task.Run(() => x / y);
}